In [2]:
# Add dependencies
import pandas as pd

In [3]:
# Load csv files
p1_file = 'data/CitiBikeTripHistories/JC-201701-citibike-tripdata.csv'
p2_file = 'data/CitiBikeTripHistories/JC-201702-citibike-tripdata.csv'
p3_file = 'data/CitiBikeTripHistories/JC-201703-citibike-tripdata.csv'
p4_file = 'data/CitiBikeTripHistories/JC-201704-citibike-tripdata.csv'
p5_file = 'data/CitiBikeTripHistories/JC-201705-citibike-tripdata.csv'
p6_file = 'data/CitiBikeTripHistories/JC-201706-citibike-tripdata.csv'
p7_file = 'data/CitiBikeTripHistories/JC-201707-citibike-tripdata.csv'
p8_file = 'data/CitiBikeTripHistories/JC-201708-citibike-tripdata.csv'
p9_file = 'data/CitiBikeTripHistories/JC-201709-citibike-tripdata.csv'
p10_file = 'data/CitiBikeTripHistories/JC-201710-citibike-tripdata.csv'
p11_file = 'data/CitiBikeTripHistories/JC-201711-citibike-tripdata.csv'
p12_file = 'data/CitiBikeTripHistories/JC-201712-citibike-tripdata.csv'

q1_file = 'data/CitiBikeDailyRidershipandMembershipData/data-q1-2017.csv'
q2_file = 'data/CitiBikeDailyRidershipandMembershipData/data-q2-2017.csv'
q3_file = 'data/CitiBikeDailyRidershipandMembershipData/data-q3-2017.csv'
q4_file = 'data/CitiBikeDailyRidershipandMembershipData/data-q4-2017.csv'

p1_data = pd.read_csv(p1_file)
p2_data = pd.read_csv(p2_file)
p3_data = pd.read_csv(p3_file)
p4_data = pd.read_csv(p4_file)
p5_data = pd.read_csv(p5_file)
p6_data = pd.read_csv(p6_file)
p7_data = pd.read_csv(p7_file)
p8_data = pd.read_csv(p8_file)
p9_data = pd.read_csv(p9_file)
p10_data = pd.read_csv(p10_file)
p11_data = pd.read_csv(p11_file)
p12_data = pd.read_csv(p12_file)

q1_data = pd.read_csv(q1_file)
q1_data = pd.read_csv(q1_file)

In [4]:
# Merge data sets
data_set = [p1_data, p2_data, p3_data, p4_data, p5_data, p6_data, p7_data, p8_data, p9_data, p10_data, p11_data, p12_data]
table = pd.concat(data_set)
table.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,1/1/2017 0:38,1/1/2017 0:44,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [5]:
table.count()

tripduration               294928
starttime                  294928
stoptime                   294928
start station id           294928
start station name         294928
start station latitude     294928
start station longitude    294928
end station id             294928
end station name           294928
end station latitude       294928
end station longitude      294928
bikeid                     294928
usertype                   294811
birth year                 275313
gender                     294928
dtype: int64

In [6]:
# Export to csv
table.to_csv("clean_data_2017.csv")